.header {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0A192F;
    opacity: .99;
    z-index: 1000;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.header__logo {
    text-decoration: none;
    color: aqua;
    font-style: italic;
    font-family: Brush Script MT, Brush Script Std, cursive	;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header__right {
    display: flex;
    flex: .5;
    position: relative;
}

.header__rightList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    transition: all ease-in-out .3s;
}

.header__rightListItem {
    list-style: none;
}

.header__rightListItemLink {
    color: white;
    text-decoration: none;
    font-weight: 300 !important;
    font-size: 15px;
    transition: all ease-in-out .3s;
    border: 0;
    font-family: font-sans;
}

.header__rightListItemLink:hover {
    color: #64FFDA;
    border-bottom: 1px #64FFDA solid;

}

.header__burger {
    color: white;
    margin-left: 10px;
    opacity: 0;
    width: 0 !important;
    cursor: pointer;
}

@media only screen and (max-width: 640px){
    .header__right {
        flex: 0;
    }
    .header__burger{
        opacity: 1;
        width: 30px !important;
        color: white;
        object-fit: contain;
    }
    .header__rightList{
        display: flex;
        flex-direction: column;
        position: fixed;
        right: -200px;
        max-width: 200px;
        opacity: 0;
        top: 60px;
        height: calc(100% - 60px);
        background-color: #172A45;
        align-items: center;
        padding: 0;
        z-index: 400;
    }

    .header__rightListOpened {
        opacity: 1;
        right: 0;
    }

}